.footer {
  display: flex;
  width: 100%;
  height: 5rem;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  background-color: #ececec;
  margin-top: auto;
}

.footerLinks {
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
  font-weight: 400;
  margin-right: 5rem;
  color: rgb(15, 14, 14);
}

.copyright {
  font-size: 1rem;
  margin-left: 5rem;
  margin-top: 1.5rem;
  color: rgb(15, 14, 14);
}

.logo {
  margin-left: 2rem;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px; 
  background: #fff;
  width: 100%;
  position: flex; 
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  background: #ececec;
  padding: 0; 
  text-align: center;
  width: 100%;
}

.info-column {
  text-align: center;
  max-width: 100%;
}

.products-column {
  text-align: center;
  max-width: 100%;
  flex: 1;
}

.contact-column {
  text-align: left;
  max-width: 100%;
  flex: 1;
}

.footer-button {
  background: #8b5e3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-button:hover {
  background: #6f472a;
}
