.product-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.product-card {
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.3);
}

.product-image {
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: (40, 40, 40);
}

.card-text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-right: 10px;
  color: (40, 40, 40);
}

.card-title {
  margin: 0;
  font-size: 31px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: (40, 40, 40);
}

.card-description {
  font-size: 20px;
  line-height: 1.5;
  color: #444;
  margin-top: 10px;
}

.card-dimensions {
  flex: 1;
}

.card-price {
  width: 260px;
  font-size: 22px;
  color: (40, 40, 40);
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  white-space: nowrap;
}

.card-price::before {
  content: attr(data-price);
  display: inline-block;
  min-width: 80px;
  text-align: right;
  color: (40, 40, 40);
}

.card-remove {
  width: 80px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0px;
  text-align: right;
  font-size: 16px;
  white-space: nowrap;
  margin-right: -150px;
  color: (40, 40, 40);
}

.card-margin {
  margin-top: 160px;
}

.card-text-top {
  margin-top: 20px;
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 200px 120px;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: (40, 40, 40);
}

.card-quantity-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  width: 190px;
}

.card-quantity-amount select {
  margin-right: -50px;
  padding: 5px;
  border: none;
  font-size: 20px;
  width: 58px;
  height: 45px;
  background-image: url("/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  appearance: none;
  padding-right: 25px;
  text-align: center;
}

.card-quantity-amount select:focus {
  outline: none;
  border: none;
}
