body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: rgb(255, 252, 249);
}


.thanks-container {
  align-items: center;
  text-align: center;
}

.thank-you {
  font-size: 3rem;
  margin-top: 2rem;
}

.press-button {
  font-size: 1rem;
  margin-top: 2rem;
}

.deCube-button {
  display: flex;
  background: #8b5e3c;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 15px;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 220px;
  margin-bottom: 20px;
  font-weight: 50;
  margin-top: 40px;
  background-color: rgb(89, 54, 25);
}

.deCube-button:hover {
  background-color: rgb(125, 83, 55);
}

.decube-logo-end {
  display: flex; 
  align-items: center;  
  justify-content: center;  
}

.decube-logo-end svg {
  width: 200px; 
  height: auto; 
}