body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: rgb(255, 252, 249);
}
.last-page {
  background-color: rgb(255, 252, 249);
  align-items: center;
}

.last-header {
  width: 100%;
  height: 5.2rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 2px 4px rgb(162, 162, 162);
  background-color: #ececec;
  margin-top: 0px;
}
.thanks-container {
  align-items: center;
  text-align: center;
}
.cube-image {
  width: 120px;
  height: auto;
  margin-left: 45.5%;
  margin-top: 5rem;
}
.thank-you {
  font-size: 3rem;
  margin-top: 2rem;
}

.press-button {
  font-size: 1rem;
  margin-top: 2rem;
}

.deCube-button {
  display: flex;
  background: #8b5e3c;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 15px;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 220px;
  margin-bottom: 20px;
  font-weight: 50;
  margin-top: 40px;
  background-color: rgb(89, 54, 25);
}

.deCube-button:hover {
  background-color: rgb(125, 83, 55);
}

.decube-logo-end {
  display: flex; /* Ensure flexbox is applied */
  align-items: center;  /* Vertically center the content */
  justify-content: center;  
}

.decube-logo-end svg {
  width: 200px; /* Icon size - adjust as needed */
  height: auto; /* Icon size - adjust as needed */
}