.aboutpage {
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 252, 249);
}

.header {
  width: 100%;
  height: 12rem;
  margin-top: 0rem;
  background: url("/aboutpageHeader.png") no-repeat center center/cover;
}

.title {
  font-size: 3rem;
  color: rgb(40, 40, 40);
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  color: rgb(40, 40, 40);
  font-weight: 100;
}

.subtitleInternalShapes {
  font-size: 2rem;
  color: rgb(40, 40, 40);
  font-weight: 100;
  writing-mode: vertical-rl;
}

.containerSubtitleInternalShapes {
  margin-left: 10px;
}

.text {
  font-size: 1.5rem;
  color: rgb(40, 40, 40);
  font-weight: 600;
}

.sections {
  width: 100%;
  height: 30rem;
}
.sectionInternalShapes {
  width: 100%;
  height: 35rem;
  background-color: rgb(225, 225, 223);
  display: flex;
}

.deCube {
  width: 500px;
  margin-top: 5rem;
  margin-left: 10px;
  height: 20rem;
  text-align: center;
}

.internal-shapes {
  width: 500;
  height: 25rem;
  margin-top: 5rem;
  margin-left: 30rem;
  text-align: center;
}

.astrolight {
  width: 700px;
  margin-top: 5rem;
  margin-left: 10px;
  height: 20rem;
  text-align: center;
}

.deC {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(236, 234, 234);
}

.ube {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(99, 97, 97);
}

.slogan1 {
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(236, 234, 234);
  margin-top: 1rem;
}
.slogan2 {
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(99, 97, 97);
  margin-top: 1rem;
}

.buy-button {
  margin-top: 1.5rem;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: rgb(89, 54, 25);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buy-button:hover {
  background-color: rgb(50, 50, 50);
}

.side-image {
  max-width: 100%; /* Makes sure image doesn’t overflow */
  height: auto;
}
