.top-text {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  color: rgb(40, 40, 40);
}
.checkout-page {
  background-color: rgb(255, 252, 249);
  min-height: 49rem;
}

.back-icon {
  width: 45px;
  height: 45px;
  transition: transform 0.2s ease;
}

.back-icon:hover {
  transform: scale(1.2);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 252, 249);
}

.checkout-bag {
  font-size: 3rem;
  color: rgb(40, 40, 40);
  font-weight: 300;
}

.checkout-text {
  font-size: 1.5rem;
  color: rgb(40, 40, 40);
  font-weight: 300;
  text-align: center;
}

.checkout-line {
  width: 1250px;
  height: 1px;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.add-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-color: #6f472a;
  margin-top: 4rem;
}

.add-buttons button {
  padding: 8px 16px;
  border: 1px solid #b5b2b2;
  cursor: pointer;
  color: rgb(35, 25, 25);
  border-radius: 16px;
}

.add-buttons button:disabled {
  background-color: #cd9e7c;
  cursor: not-allowed;
  border-radius: 16px;
}

.add-buttons button:hover {
  border-color: #0c0b0b;
}

.checkout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 50px;
}

.checkout-product-grid {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  align-items: center;
}

.checkout-button {
  display: flex;
  background: #8b5e3c;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 15px;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 220px;
  margin-bottom: 20px;
  font-weight: 50;
  margin-top: 40px;
  background-color: rgb(89, 54, 25);
}

.checkout-button:hover {
  background: #6f472a;
  transition: background-color 0.2s ease;
}

.bottom-text {
  font-size: 14px;
  color: rgb(40, 40, 40);
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.checkout-navbar-icons {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.shoppingcart-icon {
  width: 40px;
  height: 40px;
  color: rgb(14, 14, 14);
  margin-top: 2px;
  margin-left: 83rem;
}

.checkout-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #ececec;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.2rem;
}

.checkout-navbar .back-arrow {
  position: absolute;
  top: 12px;
  left: 10px;
}

.checkout-navbar .top-text {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

.shopping-cart {
  padding-top: 75px;
}

.checkout-price {
  width: 120px;
  font-size: 22px;
  color: rgb(40, 40, 40);
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
